<footer #footer class="bg-MCgrey mt-5 py-2">
  <div class=" container pt-5">
    <div class="row m-0 justify-content-center w-100 my-5">
      <div class="col-lg-3 col-md-5 col-12 z-5 mb-lg-0 mb-4 text-center">
        <img class="w-75" src="../../../assets/images/LOGO-09.png" alt="">
      </div>
      <div routerLink="/aboutUs" class="cursorPointer col-lg-3 col-md-5 text-center col-12 text-white z-5">
        <h3>{{'footer.aboutUs' | translate}}</h3>
        <p>{{'footer.aboutUsText' | translate}}</p>
      </div>
      <div routerLink="/contactUs" class="cursorPointer col-lg-3 col-md-5 text-center col-12 text-white z-5">
        <h3>{{'footer.contactUs' | translate}}</h3>
        <p>{{'footer.contactUsText' | translate}}</p>
      </div>
      <div class="col-lg-3 col-md-5 text-center col-12 text-white z-5">
        <h3>{{'footer.ourServices' | translate}}</h3>
        <p>{{'footer.ourServicesText' | translate}}</p>
      </div>
    </div>
    <div class="z-5 d-flex align-items-center justify-content-center text-white">
      <p class="z-5">
        <i class="bi bi-c-circle" style="font-size: 10px;"></i>
         2023 Sand Stone.  All rights reserved.
        </p>
    </div>
  </div>
</footer>
