<section class="">
  <div class="container-fluid">
   <div class="row">
     <div class="col-12 text-white text-center bg-MCgreen-50 p-5 mt-5 z-5">
       <h1 class="" style="font-size: 3rem;">{{'ourClients.title' | translate}}</h1>
     </div>
     <div class="col-12 text-white z-5 mt-5">
       <ul class="fs-2 text-center list-unstyled my-5">
         <li class="z-5 pb-5">{{'ourClients.text1' | translate}}</li>
         <li class="z-5 pb-5">{{'ourClients.text2' | translate}}</li>
         <li class="z-5 pb-5">{{'ourClients.text3' | translate}}</li>
         <li class="z-5 pb-5">{{'ourClients.text4' | translate}}</li>
         <li class="z-5">{{'ourClients.text5' | translate}}</li>
       </ul>
     </div>
   </div>
  </div>
 <app-footer></app-footer>
 </section>
