<section class=" handleNav">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallary3.avif" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/repair-concept-mechanic-holding-tire-16781.avif" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallary1.avif" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallery1.png" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallery2.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallery3.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallery5.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallery6.jpg" alt="">
      </div>
      <div class="col-md-6 col-lg-4 col-12 mb-4 z-5">
        <img class="w-100" src="../../../assets/images/gallery7.jpg" alt="">
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
