section{
  background-image: url(../../../assets/images/Science_goodyear_163751952.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.719);
  }
  span{
    color: #ffffff;
    font-weight: 700;
  }
  @media screen and (max-width: 600px) {
    h3{
      width: 100% !important;
    }
  }
}
